.navbar{
  height: 75px;
  background-color: #000000;
  /*opacity: 0.5;*/
}
.navbar-brand{
  height: 80px;
  width: 100px;
  margin-left: 100px;
}
.navbar-nav{
  margin-right: 100px;
}
.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #ffffff;
}

/* CSS for Portfolio Page */
.portfolio_name{
  position: absolute;
  margin-top: 32px;
  font-family: cursive;
  font-size: 50pt;
}

.our_projects{
  margin: auto;
}

/* Footer */
.footer-copyright{
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 20px; 
}
